/* Footer.scss */
@import '../scss/variables';

footer {
  background-color: $gray-dark;
  text-align: center;

  .fa {
    color: $pink-dark;
  }

  .year,
  .year .fa {
    color: $white;
    font-size: 11pt;
  }
}
