/* Home.scss */
@import './_variables.scss';

body {
	padding-top: 0;
}

#body-container {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url('./images/home-background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center; /*centers items on the line (the x-axis by default)*/
	align-items: center; /*centers items on the cross-axis (y by default)*/
}

#page-home {
	padding-top: 70px;
}

h1, h2 { color: $white; }

h1 {
	font-size: 27pt;
	line-height: 36pt;
}

h2 {
	font-size: 15pt;
	line-height: 28pt;
}

p {
	margin-top: 15px;
}

strong {
	color: $pink-dark;
}

.btn-outline-secondary {
	font-family: $accent-font; 
	color: $white;
	border-color: $white;
	border-width: 2px;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
	background-color: $blue;
	border-color: $blue;
}

.portrait {
	margin-top: 25px;
	border: 2px solid #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}
