/* Home.scss */
@import '../scss/variables';

#page-home {
  padding-top: 70px;
}

h1,
h2 {
  color: $white;
}

h1 {
  font-size: 27pt;
  line-height: 36pt;
}

h2 {
  font-size: 15pt;
  line-height: 28pt;
}

p {
  margin-top: 15px;
}

strong {
  color: $pink-dark;
}

.btn-outline-secondary {
  font-family: $accent-font;
  color: $white;
  border-color: $white;
  border-width: 2px;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  background-color: $blue;
  border-color: $blue;
}

.portrait {
  margin-top: 25px;
  border: 2px solid #ffffff;
  margin-left: auto;
  margin-right: auto;
}
